<div *ngIf="drug">
    <div class="w-full rounded shadow-lg">
        <img class="p-3 h-24 w-24 flex-none bg-cover" src="../../assets/drug.png" alt="Drug Information">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{drug.brandName}}</div>
            <table class="table-auto w-full text-xl">
                <tbody>
                    <tr>
                        <td class="px-4 py-2">Current Status</td>
                        <td class="px-4 py-2">{{drug.statuses[0].status}}</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2">Status Date</td>
                        <td class="px-4 py-2">{{drug.statuses[0].historyDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2">DIN</td>
                        <td class="px-4 py-2">{{drug.din}}</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2">Class</td>
                        <td class="px-4 py-2">{{drug.class}}</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2">Product Name</td>
                        <td class="px-4 py-2">{{drug.brandName}}</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2">Company Name</td>
                        <td class="px-4 py-2">{{drug.manufacturer.companyName}}</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2">Dosage Form</td>
                        <td class="px-4 py-2">{{drug.forms[0].pharmaceuticalForm}}</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2">Schedule</td>
                        <td class="px-4 py-2">{{drug.schedules[0]}}</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2">Route of Administration</td>
                        <td class="px-4 py-2">{{drug.routes[0] ? drug.routes[0].name : ""}}</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2">American Hospital Formulary Service (AHFS)</td>
                        <td class="px-4 py-2">{{drug.therapeuticClasses[0] ? drug.therapeuticClasses[0].ahfs : ""}}
                            {{drug.therapeuticClasses[0] ? drug.therapeuticClasses[0].ahfsNumber : ""}}</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2">Anatomical Therapeutical Chemical (ATC)</td>
                        <td class="px-4 py-2">{{drug.therapeuticClasses[0] ? drug.therapeuticClasses[0].atc : ""}}
                            {{drug.therapeuticClasses[0] ? drug.therapeuticClasses[0].atcNumber : ""}}</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2">Active Ingredient Group Number (AIG)</td>
                        <td class="px-4 py-2">{{drug.activeIngredientGroupNo}}</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2">Number of Active Ingredients</td>
                        <td class="px-4 py-2">{{drug.numbOfIngredients}}</td>
                    </tr>
                </tbody>
            </table>
            
            <div *ngIf="drug.activeIngredients">
                <table class="table-auto w-full text-xl">
                    <thead>
                        <tr class="text-left">
                            <th>Active Ingredient</th>
                            <th>Strength</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ingredient of drug.activeIngredients">
                            <td>{{ingredient.name}}</td>
                            <td>{{ingredient.strength}}{{ingredient.strengthUnit}}</td>
                        </tr>
                    </tbody>    
                </table>
            </div>
        </div>
    </div>
</div>

